

.card-container {
  --width:27rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, var(--width));
  justify-content: center;
}
@media (max-width: 27rem) {
  .card-container {
    --width: unset;
  }
}

.card-container .ant-card {
  max-width: var(--width);
  min-height: 15rem;
}

.details-container{
  text-align: center;
}
.testimonies p{
  margin: auto 2rem auto 2rem;
}
.long-description p{
  margin: auto 2rem auto 2rem;
  text-align: left;
}