

.card-container {
  --width:27rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, var(--width));
  justify-content: center;
  text-align: center;
  margin: 1rem;
}
@media (max-width: 27rem) {
  .card-container {
    --width: 100%;
  }
}

.card-container .ant-card {
  max-width: var(--width);
  min-height: 15rem;
}

.details-container *{
  text-align: center;
}
.testimonies p{
  margin: auto 2rem 1rem 2rem;
}

.long-description p{
  text-align: left;
  width: fit-content;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.shortdesc{
  margin: auto 2rem auto 2rem;
}
.cardLabel{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}
.cardDesc{
  text-align: left;
  margin: 1rem;
}
.cardLabel img{
  border-radius: 15px;
}
.images img{
  object-fit: cover;
  border-radius: 15px;
  max-height: 50vh;
}
.meat{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.testimonies{
  width: 0;
  flex: 6 4 auto;
}
.testimony-card{
  height: 100%;
}
.images{
  width: 0;
  flex: 4 6 auto;
}
.images >*{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.projects{
  display: flex;
  flex-wrap: wrap;
}
.projects >*{
  width: 0;
  flex-basis: 50%;
  padding: 12px;
  flex-grow: 2;
}
.projects img{
  object-fit: cover;
  border-radius: 15px;
  max-height: 50vh;
}

@media (max-width: 672px) {
  .meat{
    flex-direction: column;
  }
  .testimonies{
    width: 100%;
  }
  .images{
    width: 100%;
  }
  .projects >*{
    flex-basis: 100%;
  }
}