

.card-container {
  --width:27rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, var(--width));
  justify-content: center;
}

.card-container .ant-card {
  width: var(--width);
  height: 15rem;
}
